
.divPrinc{
    background-color: rgb(232, 243, 243);
}
#cardstyl{
    margin-top: 2rem;
     background-color: black; 
     border-radius: 30px; 
     
    
}
#butprinc{
    width: 30%;
    
}

